[build]
base = "docusaurus"

publish = "build"

command = "yarn run download-docs && yarn build && yarn install"

[context.production.environment]
MEILISEARCH_URL = "https://docs-search.gnoteam.com"
MEILISEARCH_INDEX_UID = "production"
# To generate this token, exec
#curl https://docs-search.gnoteam.com/keys -H "Authorization: Bearer $MEILI_MASTER_KEY"       
MEILISEARCH_API_KEY = "6d7b970053413ade30e07212c7d36c7cdea3f47ede2e63e1147317f8718e65e1"

[[plugins]]
package = "@netlify/plugin-lighthouse"

# [[headers]]
#   # Define which paths this specific [[headers]] block will cover.
#   for = "/*"

#   [headers.values]
#     X-Frame-Options = "DENY"
#     X-XSS-Protection = "1; mode=block"
#     Content-Security-Policy = "frame-ancestors https://www.facebook.com"

#     # Multi-value headers are expressed with multi-line strings.
#   cache-control = '''
#   max-age=0,
#   no-cache,
#   no-store,
#   must-revalidate'''

#     # Basic-Auth allows you to password protect your whole site.
#     # This feature may not be available on all plans.
#     Basic-Auth = "someuser:somepassword anotheruser:anotherpassword"
